@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,cyrillic-ext); 
@import 'mixins';

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;

  #main-wrap {
  	width: 100%;
  	height: 100%;
  	background-color: #4F5D73;
  }

  ul.navigation {
    width: 100%;
    height: 50px;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    color: #E0E0D1;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;

    li {
      display: inline-block; 
      width: 180px;
      height: 100%;
      text-align: center;
        
      &:hover {
        cursor: pointer;
      }

      a {
        border-bottom: 1px solid #E0E0D1;
        text-decoration: none;
                
        &:link, &:visited, &:active {
          color: #E0E0D1;
        }
      }
    }
  }

  #modal-auth {
	  background-color: #27B7BD;
	  width: 600px;
	  padding-bottom: 15px;
	  position: absolute;
	  left: 50%;
	  margin-left: -300px;
	  border: 5px solid #05abf2;
	  z-index: 101;
	  @include animation('show-modal 0.6s forwards');

	  nav {
	    width: 100%;
	    height: 50px;
	    background-color: #036564;

	    a.active {
	      background-color: #27B7BD;
	    }

	    a {
	      display: block;
	      line-height: 50px;
	      width: 47%;
	      height: 100%;
	      float: left;
	      color: #fff;
	      font-weight: lighter;
	      font-size: 32px;
	      cursor: pointer;
	      padding-left: 3%;
	    }
	  }

	  div.title {
	    width: 100%;

	    span {
	      color: #fff;
	      display: block;
	    }

	    span.level-01 {
	      padding-top: 10px;
	      font-size: 58px;
	      padding-left: 10px;
	    }

	    span.level-02 {
	      padding-top: 10px;
	      padding-right: 10px;
	      font-size: 24px;
	      text-align: right;
	      text-transform: uppercase;
	      font-weight: lighter;
	    }
	  }

	  form {
	    width: 90%;
	    margin: 0 auto;

	    input, button {
	      outline: none;
	      border: none;
	    }

	    input {
	      display: block;
	      width: 95%;
	      height: 50px;
	      font-size: 24px;
	      margin: 15px 0;
	      padding-left: 5%;
	    }

	    button {
	      width: 40%;
	      height: 70px;
	      background-color: #C75C5C;
	      font-size: 34px;
	      cursor: pointer;
	    }
	  }

	  .registration {
	    input[type='password'] {
	      width: 44%;
	      display: inline-block;
	    }
	    
	    input[ng-model='password01'] {
	      float: left;
	    }    

	    input[ng-model='password02'] {
	      float: right;
	    }
	  }
	}
}