@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,cyrillic-ext); 
@import 'mixins';

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;

  #main-wrap {
  	width: 100%;
  	height: 100%;
  	background-color: #4F5D73;
  }

  ul.navigation {
    width: 100%;
    height: 50px;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    color: #E0E0D1;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;

    li {
      display: inline-block; 
      width: 180px;
      height: 100%;
      text-align: center;
        
      &:hover {
        cursor: pointer;
      }

      a {
        border-bottom: 1px solid #E0E0D1;
        text-decoration: none;
                
        &:link, &:visited, &:active {
          color: #E0E0D1;
        }
      }
    }
  }

  #splash-screen {
    .header {
      height: 65vh;
      width: 100%;
      background-color: #4F5D73;

      img {
        margin: 0 auto;
        display: block;
        width: 300px;
        top: 45vh;
        position: relative;
      }
    }

    .footer {
      height: 35vh;
      width: 100%;
      background-color: #E0E0D1;
    }
  }

  #home {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 100px;

    .user-profile {
      width: 30%;
      height: 100px;

      .user-avatar, .user-data {
        display: inline-block;
        float: left;
        height: 100%;
      }

      .user-avatar {
        width: 30%;
        img {
          border-radius: 50%;
          width: 100%;
          &:hover {
            cursor: pointer;
          } 
        }
      }

      .user-data {
        width: 70%;
        div {
          color: #E0E0D1;
          margin-left: 20px;
          color: #fff;
          font-size: 24px;
          font-weight: 400;

          &:first-child {
            margin-top: 20px;
          }
        }
      } 
    }

    #posts-list {
      width: 50%;
      margin: 0 auto;
      margin-top: 30px;
      position: relative;

      .posts-list-item {
        width: 100%;
        height: 300px;
        background-color: #FFF3E0;
        margin-top: 20px;
        position: relative;
        overflow: hidden;

        .title {
          height: 100px;
          background-color: #E57373;
          text-align: center;
          line-height: 100px;
          font-size: 48px;
          text-transform: uppercase;
          color: #FFF3E0;
        }

        .text {
          @include animation('show-text 0.6s forwards');
        }

        .preview-layout {
          height: 200px;
          position: relative;

          .dark-layer {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;
            opacity: 0.8;
          }

          .show {
            text-align: center;
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 1;
            div {
              width: 86px;
              height: 86px;
              margin: 0 auto;
              margin-top: 57px;
              background-image: url('/images/interface/rock_white.png');
              background-size: contain;

              &:hover {
                cursor: pointer;
                background-image: url('/images/interface/rock_blue.png');
              }
            }
          }
        }
      }
    }

    #profile {
      display: block;
      position: absolute;
      width: 600px;
      left: 50%;
      margin-left: -300px;
      z-index: 101;
      background-color: #FFF3E0;
      @include animation('show-modal 0.6s forwards');
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

      div {
        display: block;
        width: 100%;

        input, button {
          outline: none;
          border: none;
        }

        &.title {
          height: 100px;
          text-align: center;
          line-height: 100px;
          text-transform: uppercase;
          border-bottom: 3px solid black;
          background-color: #E57373;
          color: #FFF3E0;
          font-size: 44px;
          font-weight: 100;
        }

        &.username, &.email, &.password {
          height: 80px;
          line-height: 80px;

          span {
            display: inline-block;

            &.section-title, &.section-value {
              width: 50%;
            }

            &.section-title {
              text-transform: uppercase;
              font-size: 32px;
              text-align: center;
            }

            &.section-value {
              font-size: 18px;

              input {
                height: 40px;
                padding-left: 10px;
                font-size: 14px;
              }

              .value {
                width: 100%;
              }

              i {
                position: absolute;
                right: 30px;
                font-size: 24px;
                margin-top: 28px;
              }

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        &.save-setting-btn {
          height: 70px;
          border-top: 3px solid black;

          button {
            width: 120px;
            height: 40px;
            background-color: #E57373;
            color: #FFF3E0;
            margin: 0 auto;
            display: block;
            cursor: pointer;
            margin-top: 15px;
            font-size: 24px;
          }
        }
      }
    }
  }

  #modal-auth {
	  background-color: #27B7BD;
	  width: 600px;
	  padding-bottom: 15px;
	  position: absolute;
	  left: 50%;
	  margin-left: -300px;
	  border: 5px solid #05abf2;
	  z-index: 101;
	  @include animation('show-modal 0.6s forwards');

	  nav {
	    width: 100%;
	    height: 50px;
	    background-color: #036564;

	    a.active {
	      background-color: #27B7BD;
	    }

	    a {
	      display: block;
	      line-height: 50px;
	      width: 47%;
	      height: 100%;
	      float: left;
	      color: #fff;
	      font-weight: lighter;
	      font-size: 32px;
	      cursor: pointer;
	      padding-left: 3%;
	    }
	  }

	  div.title {
	    width: 100%;

	    span {
	      color: #fff;
	      display: block;
	    }

	    span.level-01 {
	      padding-top: 10px;
	      font-size: 58px;
	      padding-left: 10px;
	    }

	    span.level-02 {
	      padding-top: 10px;
	      padding-right: 10px;
	      font-size: 24px;
	      text-align: right;
	      text-transform: uppercase;
	      font-weight: lighter;
	    }
	  }

	  form {
	    width: 90%;
	    margin: 0 auto;

	    input, button {
	      outline: none;
	      border: none;
	    }

	    input {
	      display: block;
	      width: 95%;
	      height: 50px;
	      font-size: 24px;
	      margin: 15px 0;
	      padding-left: 5%;
	    }

	    button {
	      width: 40%;
	      height: 70px;
	      background-color: #C75C5C;
	      font-size: 34px;
	      cursor: pointer;
	    }
	  }

	  .registration {
	    input[type='password'] {
	      width: 44%;
	      display: inline-block;
	    }
	    
	    input.pass01 {
	      float: left;
	    }    

	    input.pass01 {
	      float: right;
	    }
	  }
	}

  #not-found-page {
    width: 100vw;
    height: 100vh;
    background-color: #C75C5C;

    img {
      margin: 0 auto;
      display: block;
      position: relative;
      top: 20%;
    }

    div {
      color: #E0E0D1;
      display: block;
      position: relative;
      top: 25%;
      font-size: 56px;
      text-align: center;
    }
  }
}